*,*::before,*::after {
    box-sizing: border-box;
}

img{
	vertical-align: top;
    max-width: 100%;
    height: auto;
}

a{
	text-decoration: none;
	color: inherit;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-style: italic;
}
